#info{
  text-align: center;
  font-size: 1em;
  /* margin-top: auto; */
}

#info-data{
  margin-top: 10px;
}

#favdish{
  text-align: center;
  font-size: 1em;
  /* margin-top: auto; */
}
#up{
  text-align: center;
  font-size: 2em;
}
