<div id="form"class="container">
  <legend>SIGN UP</legend>

  <form name="signupForm" novalidate>
    <div class="form-group">
      <label>First Name:</label>
    <input type="text" class="form-control" name="firstname" placeholder="First Name"
           ng-model = "signUpCtrl.user.firstname"
           requried
           minLength="3"
           ng-maxlength= "15">
    <span ng-if="(signupForm.firstname.$error.minlength || signupForm.firstname.$error.requried) && signupForm.firstname.$touched">
      <b>FIRST NAME length should be greater than 3</b>
    </span>

    <span ng-if="signupForm.fisrtname.$error.maxlength && signupForm.firstname.$touched">
       FIRST NAME must not be greater than 15 characters</span>
       <br>
       </div>

       <div class="form-group">
         <label>Last Name:</label>
    <input type="text" class="form-control" name="lastname" placeholder="Last Name"
           ng-model = "signUpCtrl.user.lastname"
           requried
           minLength="3"
           ng-maxlength= "15">
    <span ng-if="(signupForm.lastname.$error.minlength || signupForm.lastname.$error.requried) && signupForm.lastname.$touched">
      <b>LAST NAME length should be greater than 3</b>
    </span>
    <span ng-if="signupForm.lastname.$error.maxlength && signupForm.lastname.$touched">
       LAST NAME must not be greater than 15 characters</span>
       <br>
       </div>

  <div class="form-group">
    <label>Email:</label>
    <input type="email" class="form-control" name="email" placeholder="Email"
       ng-model="signUpCtrl.user.email"
       requried>
       <span ng-if="signupForm.email.$invalid && signupForm.email.$touched">
       Must be in correct formate handle@domain</span>
       <br>
  </div>


    <div class="form-group">
      <label>Phone No.:</label>
      <input type="text" class="form-control" name="phone" placeholder="Phone #####-#####"
             ng-model="signUpCtrl.user.phone"
             pattern="(\d{5})-(\d{5})">
      <span ng-if="signupForm.phone.$invalid && signupForm.phone.$touched">
         Phone must be in the formate of Phone #####-#####
      </span>
      <br>
    </div>

    <div class="form-group">
      <label>Favourite Dish:</label>
      <input type="text" class="form-control" name="favdish" placeholder="Enter short name of Favrouite Dish"
             ng-model="signUpCtrl.user.favdish"
             requried>{{signUpCtrl.mes1 || signUpCtrl.mes2}}
      <span ng-if="(signupForm.favdish.$invalid && signupForm.favdish.$touched)"">
        Fav Dish should be like C1 or L1 , etc!
      </span>
      <br>
    </div>

    <button ng-disabled="signupForm.$invalid"
              ng-click="signUpCtrl.submit()"
              type="submit" class="btn btn-primary">Submit</button>

    <div ng-if = "signUpCtrl.mes1">
      <h3>Reponse succesfully Recorded!!</h3>
    </div>

  </form>
</div>
